trigger:
- none

pool: agent1_pool

steps:
- checkout: self

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    options: '-DskipTests'
  displayName: 'Maven Build'

- script: |
    echo Java version:
    java -version
    echo Running application
    java -jar target/netflixclone-1.0.jar
  displayName: 'Run Application'
