trigger:
- none

pool: agent1_pool

steps:
- checkout: self

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    options: '-DskipTests'
    javaHomeOption: 'Path'
    jdkDirectory: '$(JAVA_HOME)'
  displayName: 'Maven Build'

- script: |
    echo "Running Application"
    java -jar target/netflixclone-1.0.jar
  displayName: 'Run Application'
